    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto:wght@300&display=swap');

*,html{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Inter, Monserrat;
}

/* HEADER */
header{
    height: 96px;
    width: 100%;
    padding-left: 30px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E5E5E5;
    font-size: 30px;
    font-weight: 400;
    margin-bottom:100px;
}

header > p{
    margin-left: 20px;
}

/* TO DO LIST */

.container{
    width: 800px;
    height: 500px;
    /* border: solid 1px black; */
    margin: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.tasks{
    display: flex;
    align-items: center;
    flex:start
}

span{
    font-size: 28px;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
}

button{
    width: 130px;
    height: 65px;
    color: white;
    font-size: 22px;
    font-weight: 400;
    border: none;
    border-radius: 10px;;
    background: #5C48D3;
}

.trash{
    color: #5C48D3; 
}

.trash:hover, button:hover{
cursor: pointer;
}

.checked{
    text-decoration: line-through;
}

.input{
    width: 548px;
    height: 65px;
    margin-right: 20px;
    border-radius: 5px;
    border: solid 1px black;
    font-size: 24px;
    font-weight: 400;
    padding: 10px;
}

form{
    /* border: solid 1px black; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

/* FOOTER */
footer{
    text-align: center;
    padding-top:30px;
}